@mixin desktop {
    @media (min-width: 1025px){
        @content
    }
}
.nav-bar-component{
    display: flex;
    align-items: center;
    
    & > * {
     margin-top: 20px;
     margin-bottom: 20px;
    }
  & > a{
        color: black;
        padding-left: 20px;
    }
  & > img {
        width: 20px;
        height: 20px;
    }

    #hamburger {
        height: 60px;
        width: 60px;
    }
    #search {
        @include desktop {
            margin-left: auto;
        }
    }
    #searchBox{
        margin-left: 12px;
    }
    #addToCart{
        padding-left: 16px;
    }
}

body {
    @include desktop {
        margin-left: 5%;
        margin-right: 5%;
    }
    & > div {
        display: flex;
    }
}

#listOfProducts {
    display: flex;
    & > div {
        margin-right: 40px;
        margin-bottom: 50px;
    }

    flex-wrap: wrap;
    justify-content: center;
}